:root {
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.5 system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light;
  color: #212121;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}

body {
  margin: 0;
}

h1,
h2 {
  font-weight: 500;
}

p {
  margin: 0;
}
